{% extends 'base.html.twig' %}

{% block container %}
	<p style="font-size: 20px;">{{ site }}</p> {# global Twig variable #}
	<header>
		<nav>
			<ul>
				<li><a href="{{ path('cine_project_public_homepage') }}">Accueil</a></li>
				<li><a href="{{ path('movie_index') }}">Films</a></li>
				<li><a href="{{ path('actor_index') }}">Acteurs</a></li>
				<li><a href="{{ path('category_index') }}">Catégories</a></li>
			</ul>
		</nav>

			<ul>
				{% if app.user %}
					<li>username : {{ app.user.username }}</li>
					<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
				{% else %}
					<li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
				{% endif %}
				{% if is_granted('ROLE_ADMIN') %}
					<li><a href="{{ path('cine_project_admin') }}">Admin</a></li>
				{% endif %}
			</ul>


	</header>

	<hr>

	{% block body %}
	{% endblock %}

{% endblock %}