{% extends 'CineProjectPublicBundle::layout.html.twig' %}
{% block title %}films{% endblock %}
{% block body %}
	<ul>
		{% for movie in movies %}
			<li>
				<h4><a href="{{ path('movie_show', { 'id': movie.id }) }}">{{ movie.title }}</a></h4>
				<p>Catégorie : {% if movie.category %}{{ movie.category.title }} {% endif %}</p>
				<p>Note : {{movie.grade }}</p>
				<p>Description :</p>
				<p>{{ movie.description|nl2br }}</p>
				<p>Date de sortie : {{ movie.releaseDate|date('d/m/Y') }}</p>
			</li>
		{% endfor %}
	</ul>

	{# display navigation #}
	<div class="navigation">
		{{ knp_pagination_render(movies) }}
	</div>

	<ul>
		<li>
			<a href="{{ path('movie_new') }}">Create a new movie</a>
		</li>
	</ul>
{% endblock %}