{% extends 'CineProjectPublicBundle::layout.html.twig' %}
{% block title %}films{% endblock %}
{% block body %}
	<ul>
		{% for movie in movies %}
			<li>
				<h4><a href="{{ path('movie_show', { 'id': movie.id }) }}">{{ movie.title }}</a></h4>
				<p>{{ movie.description|nl2br }}</p>
				<p>{{ movie.releaseDate|date('d/m/Y') }}</p>
			</li>
		{% endfor %}
	</ul>

	<ul>
		<li>
			<a href="{{ path('movie_new') }}">Create a new actor</a>
		</li>
	</ul>
{% endblock %}