{% extends 'CineProjectPublicBundle::layout.html.twig' %}

{% block body %}
    <h4>{{ movie.title }}</h4>
    <p>Catégorie : {% if movie.category %}{{ movie.category.title }} {% endif %}</p>
    <p>Note : {{ movie.grade }}</p>
    <p>Description :</p>
    <p>{{ movie.description|nl2br }}</p>
    <p>Date de sortie : {{ movie.releaseDate|date('d/m/Y') }}</p>
    <p>Acteurs :</p>
    <ul>
        {% for actor in movie.actors %}
            <li><a href="{{ path('actor_show', {slug: actor.slug}) }}">{{ actor.fullName }}</a></li>
        {% endfor %}
    </ul>


    <ul>
        <li>
            <a href="{{ path('movie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movie_edit', { 'id': movie.id }) }}">Edit</a>
        </li>
       <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {#<a href="{{ path('movie_delete', {id: movie.id}) }}">delete</a>#}
    </ul>
{% endblock %}
