{% extends 'CineProjectPublicBundle::layout.html.twig' %}

{% block body %}
    <h4>{{ movie.title }}</h4>
    <p>{{ movie.grade }}</p>
    <p>{{ movie.description|nl2br }}</p>
    <p>{{ movie.releaseDate|date('d/m/Y') }}</p>
    <ul>
        {% for actor in movie.actors %}
            <li><a href="{{ path('actor_show', {id: actor.id}) }}">{{ actor.fullName }}</a></li>
        {% endfor %}
    </ul>


    <ul>
        <li>
            <a href="{{ path('movie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('movie_edit', { 'id': movie.id }) }}">Edit</a>
        </li>
       <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {#<a href="{{ path('movie_delete', {id: movie.id}) }}">delete</a>#}
    </ul>
{% endblock %}
