{% extends 'CineProjectPublicBundle::layout.html.twig' %}

{% block body %}
    <h1>Directors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for director in directors %}
            <tr>
                <td><a href="{{ path('director_show', { 'id': director.id }) }}">{{ director.id }}</a></td>
                <td>
                    {% if director.image %}
                        <img src="{{ asset(director.image.getWebPath()) }}">
                    {% endif %}
                </td>
                <td>{{ director.firstName }}</td>
                <td>{{ director.lastName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('director_show', { 'id': director.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('director_edit', { 'id': director.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('director_new') }}">Create a new director</a>
        </li>
    </ul>
{% endblock %}
